[Unit]
Description=Run KDE Connect auto-refresh every minute

[Timer]
OnBootSec=30
OnUnitActiveSec=60
Unit=kdeconnect-refresh.service

[Install]
WantedBy=timers.target
