[user]
	name = bdbd2yy
	email = ysihigh74@gmail.com
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[pull]
	rebase = false
[url "https://ghfast.top/https://github.com/"]
	insteadOf = https://github.com/
