# fish
.config/fish/*
!.config/fish/config.fish

# mako
.config/mako/themes/*

# rofi
.config/rofi/applets

# nvim
.config/nvim/lua/*
!.config/nvim/lua/config
!.config/nvim/lua/plugins

# yazi
.config/yazi/flavors/*
.config/yazi/plugins/*
/.config/yazi/package.toml
/.config/nvim/lazy-lock.json
/.config/nvim/lazyvim.json
